@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@400;500&family=Arsenal:wght@400;700&family=Barlow+Condensed:wght@200;300;400&family=Merriweather:wght@300;400;700&family=Roboto:wght@300;400;500&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
   
    font-family: 'Roboto', sans-serif;
    overflow-x:hidden;
}
.logo p{
    padding:5px;
    font-size: 30px;
    font-weight: 600;
}
.container{
    background-color: black;
    color:white;
    height:60px;
    display:flex;
    justify-content:space-between;
    align-items: center;
    position:sticky;
    top:0;
}
ul{
    display:flex;
}
ul li{
    font-weight: 500;
   font-size: 20px;
   list-style: none;
   /* padding:0 5px; */
  
}
li a{
   text-decoration: none;
   color:white;
   padding:16px 18px;
}
li a:hover{
    background-color: grey;
    color:black;
}
.body-section{
    margin:5px;
}
.btn {
    margin:10px;
    width:100px;
    height:50px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;

}
.btn:hover{
    background-color: black;
    color:white;
   
}

/* -----------page body style part---------------- */

.bg-img{
   height:500px;
   width:1000px;
   padding-left: 300px;

}
.bg-img img{
    /* background-image: fit; */
    height:470px;
    object-fit: fit;
    padding-left:300px;
    
}


/* signup page css code------------------------  */

#signupform{
    padding:20px;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items:center;

    
}
#signupform input{
    font-size: 20px;
    border-radius: 5px;
    width:85%;
    height:50px;
    padding:20px;
    margin:10px;
}

/* --loginpage------------- */

 .login-page{
    padding:20px;
    width:100%;
    text-align: center;

}
#loginform{
    display: flex;
    flex-direction: column;
    align-items:center;
    width:100%;

}
 #loginform input{
    font-size: 20px;
    border-radius: 5px;
    width:85%;
    height:50px;
    padding:20px;
    margin:10px; 
}

/* --------shop-page--------------------
.
/* css for add to cart items count */

.cartqunt{
    background-color: red;
    width:20;
    height: 20px;
    border-radius: 5px;
}